.jumbotron {
    background-color: lightblue;
}

.startGame {
    margin-bottom: 15px;    
}

#inputName {
    width: 300px;
    margin: auto;
}
/* .game {
    background-color: lightblue;
    margin-bottom: 15px;
} */


.col-3 {
    background-color: lightblue;
    margin: 0 auto;
    height: 250px;
    margin-bottom: 85px;
}

.rock, .paper, .scissors {
    font-size: 35px;
}

.rock2, .paper2, .scissors2 {
    font-size: 35px;
}

.rock:hover, .paper:hover, .scissors:hover {
    background: rgba(57, 91, 243, 0.904);
    transform: translateY(-5px);
    animation: all .2s;
    box-shadow: 1px 1px 35px black;
}

.rock2:hover, .paper2:hover, .scissors2:hover {
    background: rgba(57, 91, 243, 0.904);
    transform: translateY(-5px);
    animation: all .2s;
    box-shadow: 1px 1px 35px black;
}

.p1Name, .p2Name {
    margin-bottom: 10px;
    font-size: 25px;
}

.p1WinLoss, .p2WinLoss {
    position: absolute;
    right: 14%;
    bottom: 5%;
}

.prompt1, .prompt2, {
    margin-bottom: 15px;
}

.prompt3 {
    font-size: 30px;
}

.col-7 {
    background-color: yellow;
    margin: 0 auto;
    height: 250px;
}

.col-4 {
    background-color: grey;
    margin: 0 auto;
}

.chatArea {
    overflow-y: scroll;
    height: 250px;
    width: 100%;
}

/* .form-control1, .btn1 {
    position: absolute;
    top: 30%;
    left: 0%;
}

#btn-chat {
    position: absolute;
    top: 30%;
    left: 0%;
} */
